name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
  
jobs:
  build:
    name: Build app
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      
      - name: Build
        run: go build -v ./cmd/app
        
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: GameDataParser
          path: ./app.exe
